name: CI
on:
  push:
    branches:
      - master
  pull_request:
jobs:
  pdf:
    name: Julia PDF builds (${{ matrix.buildtype }})
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        buildtype:
          - 'releases'
          - 'nightly'
    env:
      BUILDROOT: ${GITHUB_WORKSPACE}/pdf/build
      JULIA_SOURCE: ${GITHUB_WORKSPACE}/pdf/build/julia
      JULIA_DOCS: ${GITHUB_WORKSPACE}/pdf/build/docs.julialang.org
    steps:
      - uses: actions/checkout@v2
      - uses: julia-actions/setup-julia@v1
        with:
          version: 1
          show-versioninfo: true
      - uses: actions/cache@v1
        env:
          cache-name: cache-artifacts
        with:
          path: ~/.julia/artifacts
          key: ${{ runner.os }}-test-${{ env.cache-name }}-${{ hashFiles('**/Project.toml') }}
          restore-keys: |
            ${{ runner.os }}-test-${{ env.cache-name }}-
            ${{ runner.os }}-test-
            ${{ runner.os }}-
      - run: |
          mkdir $BUILDROOT
          git clone https://github.com/JuliaLang/julia.git $JULIA_SOURCE
          git clone https://github.com/JuliaLang/docs.julialang.org.git -b assets --single-branch $JULIA_DOCS
      - run: julia --color=yes pdf/make.jl ${{ matrix.buildtype }}
      - run: julia --color=yes pdf/make.jl commit
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DOCUMENTER_KEY: ${{ secrets.DOCUMENTER_KEY }}
